:root {
	--pink: hsl(322, 100%, 66%);
	--very-pale-cyan: hsl(193, 100%, 96%);
	--very-dark-cyan: hsl(192, 100%, 9%);
	--grayish-blue: hsl(208, 11%, 55%);
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
}

h1, h2 {
	font-family: "Poppins", sans-serif;
}

button {
	border-radius: 25px;
}

button:hover {
	opacity: 0.8;
}

/* Section header configuration */
.section-header {
	background:
		url("./images/bg-hero-desktop.svg"),
		var(--very-pale-cyan);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 3% 5%;
}

.section-header nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3%;
}

.section-header nav button {
	background-color: white;
	padding: 10px 3%;
	font-weight: 700;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.about-header {
	display: flex;
	align-items: center;
}

.info-header {
	flex: 1;
}

.info-header h1 {
	font-size: 42px;
}

.info-header p {
	margin: 3% 0;
}

.info-header button {
	color: var(--very-pale-cyan);
	background-color: var(--pink);
	padding: 1.5% 6%;
}

.decoration-header {
	flex: 1;
}

.decoration-header img {
	width: 100%;
	height: auto;
}
/* Section header configuration */



/* Section advantages configuration */
.section-advantages {
	margin-top: 10%;
}

.card {
	width: 80%;
	margin: 0 auto;
	margin-bottom: 3%;
	border-radius: 10px;
	box-shadow:
		5px 5px 10px rgba(0, 0, 0, 0.1),
		-5px -5px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
}

.card > * {
	flex: 1;
}

.card-info {
	padding-left: 10%;
}

.card-info p {
	color: var(--grayish-blue);
	margin-top: 2%;
}

.decoration-card {
	padding: 2%;
	display: flex;
	justify-content: flex-end;
}

.decoration-card img {
	width: 70%;
	height: auto;
}

.card:nth-child(2) {
	flex-direction: row-reverse;
}

.card:last-child {
	width: 40%;
	padding: 3% 0 2%;
	text-align: center;
	flex-direction: column;
	background-color: white;
	position: relative;
	top: 7vw;
}

.card:last-child button {
	margin-top: 2%;
	color: var(--very-pale-cyan);
	background-color: var(--pink);
	padding: 1.5% 6%;
}
/* Section advantages configuration */



/* Footer configuration */
footer {
	background-color: var(--very-dark-cyan);
	padding: 10% 5% 2%;
	color: var(--very-pale-cyan);
}

footer a {
	color: var(--very-pale-cyan);
}

.logo-footer {
	margin-bottom: 2%;
	filter: brightness(0) invert(1);
}

.info-footer {
	display: flex;
	justify-content: space-between;
	margin-bottom: 2%;
}

.contacts {
	width: 20%;
	display: flex;
	flex-wrap: wrap;
}

.contact {
	flex: 1 1 100%;
	display: flex;
	align-items: flex-start;
	font-size: 14px;
	margin-bottom: 5%;
}

.icon {
	margin-right: 5%;
}

.social {
	display: flex;
}

.social li {
	width: 30px;
	height: 30px;
	margin: 0 10px;
	border: 1px solid var(--very-pale-cyan);
	border-radius: 50%;
	align-self: flex-start;
	display: flex;
	justify-content: center;
	align-items: center;
}

.social li:hover {
	color: var(--very-dark-cyan);
	background-color: var(--very-pale-cyan);
}

.copyright {
	text-align: right;
	font-size: 12px;
}
/* Footer configuration */